* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.teacherForm {
    display: grid;
    grid-template-rows: auto;
    place-items: center;
}

.teacherForm__select {
    width: 25vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#wrapper {
    display: grid;
    place-items: center;
}

.teacherForm__inputName, .teacherForm__inputTitle, .contact__container__form__submit {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 50vw;
    height: 10vh;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #000;
    
    border: solid 1px #000;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
.teacherForm__inputName:hover, .teacherForm__inputTitle:hover, .teacherForm__submit:hover  {
    background: #b3aca7;
    color: #e2dedb;
}
  
.teacherForm__message {
    width: 50vw;
    height: 25vh;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #000;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
.teacherForm__message:hover {
    background: #b3aca7;
    color: #e2dedb;
}
  
.teacherForm__inputDate {
    width: 100%;
    height: 10vh;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #000;
    border-top: none;
}

.teacherForm__submit {
    width: 50vw;
    height: 10vh;
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #000;
    background-color: #fff;
    outline:none;
    cursor: pointer;
    
    border: solid 1px #000;
}
  
.teacherForm__submit:hover {
    color: #e2dedb;
}