@import url('./styles.css');

#calendar {
    min-width: 250px;
    max-width: 300px;
    margin: 1rem;
    padding: 20px 10px;
    position: relative;
    color: var(--text_color);
    font-size: 1.2rem;
}

#calendar nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text_color);
}

#calendar table {
    margin: 1rem auto 0 auto;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
}

#calendar tr {
    height: 2rem;
}

.active {
    border: 3px dotted var(--first_main_color);
}

.active:hover {
    background-color: var(--first_main_color);
    color: #fff;
}

.exam {
    background-color: var(--second_main_color);
    color: #fff;
    border: 3px transparent solid;
}

.exam:hover {
    background-color: transparent;
    color: var(--text_color);
    border: 3px var(--second_main_color) solid;
}
